[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
coverage = "*"
flask = "*"
flask-bootstrap = "*"
flask-login = "*"
flask-migrate = "*"
praw = "*"
markdown = "*"
flask-wtf = "*"
email-validator = "*"

[dev-packages]

[requires]
python_version = "3.8"
